@{
    ViewBag.Title = "Travel Insurance";
}
<section class="peulis-breadcrumb-area">
    <div class="breadcrumb-top">
        <div class="container">
            <div class="col-lg-12">
                <div class="breadcrumb-box">
                    <h2>Travelling Insurance</h2>
                    @*<ul class="breadcrumb-inn">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="#">Search Tour Packages</a></li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="peulis-tour-page-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar-widget">
                    <div class="single-sidebar">
                        <h3>Travelling Insurance</h3>
                        <div class="clearfix">
                            <ul style="list-style:none;">
                                <li><i class="fa fa-hand-o-right active"></i>&nbsp;<a href="/Home/WhyUs"> Why Us</a></li>
                                <li><i class="fa fa-hand-o-right"></i>&nbsp;<a href="/Home/WhyTouring">Why Touring</a></li>
                                <li style="color: #07B1D0;"><i class="fa fa-hand-o-right"></i>&nbsp;<a style="color: #07B1D0;" href="/Home/TravelInsurance">Travel Insurance</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="quick_contact">
                            <h4>Quick Contact</h4>
                            <p>
                                <i class="fa fa-phone"></i>
                                1 562 867 5309
                            </p>
                            <p>
                                <i class="fa fa-envelope"></i>
                                info@example.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tour-page-right" style="line-height:2;">
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At Offroads Travel, we believe that every traveler has unique needs, objectives and expectations for their travel plan.
                    </p>
                    <h4 style="color: #07B1D0;padding-top:10px;padding-bottom:10px;">Curiosity is the key……..</h4>

                    <p class="text-justify">
                        Offroads Travel is privately-owned, financially stable and innovative with a history of personalized services, effectively proven cost-containment packages and fully established national representation.
                    </p>
                    <p class="text-justify">
                        At Offroads Travel - we remain committed to doing everything possible to create lasting memories. From itineraries which reflect your interests, budget and time to carefully selected and knowledgeable guides, means of transportation and handpicked comfortable accommodations we strive to give you value for your money. All this while we haven’t overlooked your desire to sample and enjoy the artistic and culinary delights of cultures beyond your own.
                    </p>
                   

                </div>

            </div>
        </div>
    </div>
</section>



