@model IEnumerable<TourTravel_Web.Areas.Admin.Models.CountriesModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title-div">
    <i class="fa fa-hand-o-right"></i>&nbsp;
    <span class="title">Countries</span>&nbsp;
    <small>List</small>
</div>
<div class="card bg-light">
    <div class="card-body">
        <a class="btn btn-primary btn-sm pull-right" href="/Admin/countries/addcountries"><i class="fa fa-plus-circle"></i> Add</a>
        <div class="clearfix"></div>
        @Html.Partial("_pvCountriesList", Model)
    </div>
</div>
